.bgImg{
    background: url("https://cdn.pixabay.com/photo/2015/09/16/08/55/online-942406_640.jpg");
}
.category_grid{
    margin-top: 40px !important;
}
.product_grid{
    margin-top:20px !important;
    text-align: center
}
.product_grid_main_div{
    position:relative !important;
    cursor:pointer !important
}
.product_grid_img_div{
    position:absolute !important;
    top:0;
    right:0
}
.product_grid_img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:20px
}
.no_product_found{
    color:red;
    font-weight: bold;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top:19rem;
}